body {
  background-color: black;
  color: white;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}
.flop {
  transform: scaleX(-1);
}
